.icon{
    vertical-align: middle;
    padding: 10px;
    font-size: 16pt;
    color: #d44580;
}
.text-mcshop{
    color: #d44580;
}
.bg-mcshop{
   background: #d44580;   
}
.bg-mcshop-ligth{
    background-color: #e9afc7;
}